/* Global */

      body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 600px;
        margin:0px;
      }

      html {
        max-width: 600px;
        position: relative;
      }

      header nav, .banner img, #bg {
        display: none;
      }

      header, section, footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-self: center;
      }

/* fonts */

/* font-family: 'Cormorant Garamond', serif; */

      h1, h5 {
        font-family: 'Cormorant Garamond', serif;
        font-weight: 500;
      }

      p, button {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 400;
      }

      h2, .welcome p, h4, h6 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
      }

/* font size */
      h2  {
        font-size: 40px;
      }

      h4, h6 {
        text-transform: uppercase;
        font-size: 15px;
      }

      h5 {
        font-size: 50px;
        margin: 0px;
      }

/* font colour */

      /* grey */

      h2, .welcome p, .box h4 {
        color: #4A455C;
      }

      /* white */

      h1, .techchallengebox p, h6, footer p {
        color: #FFFFFF;
      }

      /* orange */
      h4, h5 {
        color: #D64C31;
      }

/* header section */
header img {
  margin: 10px 0px;
}

/* banner */

.techchallengebox {
  background-color: #D64C31;
  width: 100%;
  max-width: 600px;
  display: flex;
}

h1 {
  font-size: 60px;
  margin: 20px;
}

.techchallengebox p {
  margin: 20px;
}

/* welcome section */

.welcome {
  width: 100%;
  display: flex;
  background-color: #E8F1EE;
  align-items: center;
}

.welcome img {
  max-width: 500px;
}

/* courses section */

.courses {
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  background-color: #FFF0E7;
  padding-bottom: 20px;
}

.box img {
  width: 100%;
  align-self: center;
  padding: 0px;
}

.box h4, .box p, .box h5 {
  padding: 0px 20px;
}

/* footer  */

footer {
  display: flex;
}

.footer-content {
  background-color: #D64C31;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 80px;
  position: relative;
}

.footer-content nav {
  justify-content: space-between;
  position: absolute;
  right: 10px;
  top: 30px;
}

footer img {
  width: 200px;
  position: absolute;
  left: 10px;
  top: 10px;
}

h6 {
  text-transform: capitalize;
  margin: 0;
  font-size: 20px;
}

.footer-content p {
  width: 400px;
  font-size: 13px;
  text-align:center;
}

button {
  font-size: 15px;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  background: transparent;
  margin-left: 5px;
  color: #FFFFFF;
}

.mailing-list {
  background-color: #4A455C;
}

.mail-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

.mail-box h6 {
  margin: 10px 0px;
}

.mail-box input {
  width: 200px;
}

#sub-button, .mail-box input {
  margin-bottom: 10px;
  padding: 10px;
}

.mail-box p {
  align-self: center;
  width: 400px;
  text-align: center;
  margin: 0px 0px 10px;
}

i {
  font-size: 30px;
  margin-right: 20px;
  margin-bottom: 10px;
  color: #FFFFFF;
}


/*
Note: Font sizes are just for reference, you may adjust sizing to match design as needed*
Nav & footer links: 24px / 400 regular / Montserrat
Heading (Tech Challenge) : 84px / 500 medium / Cormorant Garamond
Heading (Welcome to Juno): 75px / 500 medium / Montserrat
Heading (Web Dev..., Team cult..., Java..., Student): 75px / 500 medium / Cormorant Garamond
Body text: 22px / 400 regular / Montserrat
Dates : 20px / 500 medium / Montserrat
Buttons: 22px/ 500 medium / Montserrat
Footer headings (Juno Tech Test, Join our mailling list): 30px / 500 medium / Montserrat */

/* Fonts
font-family: 'Cormorant Garamond', serif;
font-family: 'Montserrat', sans-serif;
*/
